@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: Josefin Sans, sans-serif;
  --font-text: Urbanist, sans-serif;
  --color-background: #F0ECE5;
  --color-primary: #47530B;
  --color-secondary: #214757;
}

@layer base {
  body {
    @apply h-full bg-background;
  }
}
